/* Reset some default styles */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Body styles */
html {
    background-color: rgb(78, 78, 78);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and navigation styles */
.title {
    text-align: center;
    font-size: 100px;
    font-weight: xx-small;
    font-family: 'Times New Roman', Times, serif;
}

.divider {
    height: 5px;
    background-color: #fff; 
    margin-right: 150px;
    margin-left: 150px;
}

header {
    background-color:rgb(106, 106, 106);
    color: #fff;
    padding: 10px 0;
}

nav {
    margin-right: 150px;
    margin-left: 150px;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a::after {
    content: '|'; 
    margin-left: 10px; 
    color: #fff; 
}

nav li:last-child a::after {
    content: ''; 
    margin-left: 0;
}

nav a:hover {
    color: black; 
}

/* Gallery title styles */
h1 {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    background-color: rgb(106, 106, 106);
}

/* Gallery grid styles */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.img1 { grid-area: img1; }
.p1 { grid-area: p1; }
.img2 { grid-area: img2; }
.p2 { grid-area: p2; }
.img3 { grid-area: img3; }
.p3 { grid-area: p3; }
.img4 { grid-area: img4; }
.p4 { grid-area: p4; }
.img5 { grid-area: img5; }
.p5 { grid-area: p5; }
.img6 { grid-area: img6; }
.p6 { grid-area: p6; }
.img7 { grid-area: img7; }
.p7 { grid-area: p7; }
.img8 { grid-area: img8; }
.p8 { grid-area: p8; }

/* Class definitions */
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
    width: 250px;
    height: 250px;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
    text-align: center;
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
}
